{% extends "lohandsoft_register/base.html" %}
<!-- 본 페이지가 base.html의 하위문서다라는 걸 맨위에 언급하는것-->
<!-- 여기가 입력된 정보를 조회하는 list page같은데, 구조가 왜이렇게 되는지...-->
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      {% for data in data %}
      <tr>
        <td>{{ data.fullname}}</td>
        <td>{{ data.birth }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.age }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>birth</td>
            <td>email</td>
            <td>age</td>
            <td>
                <a href="{% url 'lohandsoft_insert' %}" class="btn btn-outline-success">
                    <!--추가 버튼 a.btn.btn-outline-success-->
                    <i class="fas fa-plus"></i> Add New
                    <!--추가 아이콘이랑 문구-->
                    <!--글고 urls.py에 정의한 것과 동일하게 employee_insert로 적은건데, 왜.........? 그리고 뒤에 employee.id는 왜 지움? -->
                    <!--아마 기존 id를 받아야하는 상황이 아니라, 새로운 입력을 받아야 해서 그런듯-->
                </a>
            </td>
        </tr>
    </thead>

    <body>
        {% for lohandsoft in lohandsoft_list %}
        <tr>
            <td>{{lohandsoft.fullname}}</td>
            <td>{{lohandsoft.birth}}</td>
            <td>{{lohandsoft.email}}</td>
            <td>{{lohandsoft.age}}</td>
            <td>
                <a href="{% url 'lohandsoft_update' lohandsoft.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                    <!--update 아이콘 i.far.fa-edit.fa-->
                </a>
                <!--update 버튼 a.btn.text-secondary.px-0-->
                <form action="{% url 'lohandsoft_delete' lohandsoft.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <!--요거 안하면 Forbidden(403)뜸 CSRF ~~~~ -->
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        <!--DELETE 아이콘 : i.far.fa-trash-alt.fa-lg.text-danger.float-right-->
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </body>
</table>

{% endblock content %}